#Ignored Files 
.venv/
__pycache__/
*.pyc
.DS_Store
runs/

#Starter trainings
!/runs/1m_steps
!/runs/1m_steps/**
!/runs/200k_steps
!/runs/200k_steps/**
!/runs/1m_steps_improved
!/runs/1m_steps_improved/**